body {
  background-color: #f6f9fc;
  color: #222;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background-color: #014580;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

main {
  padding: 20px;
}

section#about {
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
}

section#about h2 {
  font-size: 2em;
  color: #004080;
}

section#about p {
  font-size: 1.2em;
  line-height: 1.6;
}

section#about img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

footer {
  background-color: #014580;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
